/* body{
    text-align: center;
    margin-top: 85px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 300px;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    margin-bottom: 37px;
    font-size: large;
}
#he1{
    color: blue;
    letter-spacing: 2px;
    margin-bottom: 60px;
    font-size: 50px;
}
#in1{
    font-size: 30px;
}
#num{
 color: red;
 border-radius: 50px;
 font-size: 30px;
 text-align: center;
 border-color: chartreuse;
 border-width: 3px;

}
#btn1{
    font-size: 30px;
    background-color: rgb(29, 86, 7);
    border-radius: 30px;
    padding: 10px;
}
#btn1:hover{
    background-color: yellow;
}
#re1{
    font-size: 30px;
}
#answer{
    border-radius: 50px;
    font-size: 30px;
 text-align: center;
 border-color: chartreuse;
 border-width: 3px;


}
#ta{
    text-align: center;
    background-color: rgb(92, 207, 213);
    border-radius: 100px;
}
#td1{
    padding: 100px;
}
#he2{
    padding-right: 280px;
    color: blanchedalmond;
} */